<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redireciona para a pasta Web - basic" stopProcessing="true">
                      <match url="^$" />
                      <action type="Redirect" url="/basic/web/" />
                </rule>
            </rules>
        </rewrite>

        <staticContent>
                <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
        </staticContent>

</system.webServer>
</configuration>